.content__login_name {
  color: black;
  width: 100%;
  font-size: 15px;
  font-style: italic;
  margin: 30px 0 30px 0;
  a {
    color: gray;
  }
}
.login__container {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  .login__form {
    width: 600px;
    display: flex;
    flex-direction: column;
    .login__title {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    input {
      background: inherit;
      border-bottom: 1px solid rgba(128, 128, 128, 0.331);
      width: 600px;
      height: 50px;
      margin-bottom: 40px;
      font-size: 17px;
    }
    .login__buttons {
      display: flex;
      justify-content: space-between;
      .signin {
        color: white;
        background-color: #21213f;
        border: 1px solid #21213f;
        width: 140px;
        height: 53px;
        border-radius: 5px;
        font-size: 20px;
        &:hover {
          background-color: inherit;
          color: #21213f;
        }
      }
      .register_button {
        color: white;
        background-color: #21213f;
        border: 1px solid #21213f;
        width: 240px;
        height: 53px;
        border-radius: 5px;
        font-size: 20px;
        &:hover {
          background-color: inherit;
          color: #21213f;
        }
      }
      .reset__passwd {
        height: 20px;
        align-self: center;
        color: black;
        font-size: 17px;
        border-bottom: 1px solid black;
        &:hover {
          color: gray;
          border-bottom: 1px solid gray;
        }
      }
    }
    .pers__data {
      display: flex;
      align-items: center;
      input {
        width:fit-content;
        margin: 0 10px 0 0;

      }
      a {
        margin: 0 0 0 5px;
        color: black;
        border-bottom: 1px black solid;
        &:hover {
          color: gray;
          border-bottom: 1px solid gray;
        }
      } 
    }
  }
  .login__info {
    .info__conteiner {
      padding: 60px;
      background-color: white;
      width: 830px;
      border: 1px solid rgba(128, 128, 128, 0.146);
      border-radius: 20px;
      -webkit-box-shadow: 5px 5px 5px -5px rgba(115, 115, 116, 0.34) inset;
      -moz-box-shadow: 5px 5px 5px -5px rgba(115, 115, 116, 0.34) inset;
      box-shadow: 5px 5px 5px -5px rgba(115, 115, 116, 0.34) inset;
      .info__title {
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
      }
      .info__text {
        margin: 30px 0;
        font-size: 25px;
      }
      .register {
        height: 20px;
        align-self: center;
        color: black;
        font-size: 17px;
        border-bottom: 1px solid black;
        &:hover {
          color: gray;
          border-bottom: 1px solid gray;
        }
      }
    }
  }
}

.form-error {
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}


.profile__username_logout {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.241);
  padding: 50px 0 20px 0;
  margin-bottom: 50px;
  .username {
    font-size: 35px;
    font-weight: bold;
    margin-right: 35px;
  }
  .regiser__date {
    color: gray;
    font-size: 20px;
    font-style: italic;
    display: flex;
    align-items: center;
    margin-right: 60px;
  }
  .logout {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    a {
      color: black;
      font-size: 20px;
      border-bottom: 1px solid black;
      &:hover {
        color: gray;
        border-bottom: 1px solid gray;
      }
    }
  }
}

.profile__container {
  display: flex;
  margin-bottom: 100px;
  .buttons__conteiner {
    .profile__buttons {
      width: 200px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 15px;
      background-color: #fff;
      margin-right: 50px;
      border: 1px solid rgba(128, 128, 128, 0.334);
      button {
        height: 40px;
        background-color: #fff;
        font-size: 20px;
        width: 100%;
      }
      button.active {
        border-left: 2px solid orange;
      }
    }
  }
  .profile__orders {
    display: none;
    background-color: #fff;
  }
  .profile__orders.active {
    display: block;
  }

  .profile__likes {
    display: none;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.334);
    .content__likes_container {
      font-family: Arial, Helvetica, sans-serif;
      padding: 50px;
      .likes__products {
        .product__list {
          li {
            display: flex;
            background-color: #fff;
            border: 1px solid rgba(128, 128, 128, 0.267);
            margin-bottom: 30px;
            .product__container {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin: 30px 20px;
              .title {
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 30px;
              }
              .product__main {
                width: 420px;
                .product__info {
                  display: inline-flex;
                  img {
                    width: 70px;
                  }
                  .product__name {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .name {
                      a {
                        color: black;
                        font-size: 17px;
                        font-weight: bold;
                        &:hover {
                          color: orange
                        };
                      }
                    }
                    .code {
                      color: gray;
                      font-style: italic;
                    }
                  }
                }
              }
              .product__price {
                width: 200px;
                .price {
                  padding-top: 20px;
                  font-size: 19px;
                }
              }
              .remove {
               button {
                background-color: inherit;
                color: rgb(137, 0, 0);
               }
              }
            }
          }
        }
      }
    }
  }
  .profile__likes.active {
    display: block;
  }

  .profile__settings {
    display: none;
    background-color: #fff;
  }
  .profile__settings.active {
    display: block;
  }
}

.likes__blank {
  font-size: 40px;
  color: gray;
  align-self: center;
}