{% extends 'base.html' %}

{% block content %}
<div class="content__container">
    <div class="profile__username_logout">
        <div class="username">{{ user.username }}</div>
        <div class="regiser__date">Зарегистрирован: {{ user.date_joined }}</div>
        <div class="logout"><a href="{% url 'user:logout' %}">Выйти</a></div>
    </div>
    <div class="profile__container">
        <div class="buttons__conteiner">
            <div class="profile__buttons">
                <button id="orders" class="active" onclick="showOrders()">Заказы</button>
                <button id="likes" onclick="showLikes()">Избранное</button>
                <button id="settings" onclick="showSettings()">Настройки</button>
            </div>
        </div>
        <div class="profile__orders active" id="ordersList">122qqweqweqqqqqqweqwe22222223</div>
        <div class="profile__likes" id="likesList">
            <div class="content__likes_container">
                {% if products %}
                    <div class="likes__products">
                        <ul class="product__list">
                            {% for l in likes %}
                                <li id="elem{{ l.product.id }}" class="element">
                                    <div class="product__container">
                                        <div class="product__main">
                                            <div class="product__info">
                                                <img src="{{ l.product.imagine.url }}" alt="product_img">
                                                <div class="product__name">
                                                    <div class="name"><a href="{{ l.product.get_absolute_url }}">{{ l.product.name }}</a></div>
                                                    <div class="code">Код товара: {{ l.product.id }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__price">
                                            <div class="price">{{ l.product.price }} руб.</div>
                                        </div>
                                        <div class="remove"><button class="remove_button_likes" data-product-id="{{ l.product.id }}"><i class="fa-solid fa-xmark fa-2xl"></i></button></div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="likes__blank">У вас нет избранных товаров...</div>
                {% endif %}
            </div>
        </div>
        <div class="profile__settings" id="settingsList">123</div>
    </div>
</div>
{% endblock %}