{% load shop_app_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_detail_style.css' %}">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
    <div class="conteiner">
        <header>
            <div class="header">
                <div class="header__container">

                    <div class="header__social">
                        <div class="header__social_sites">
                            <a href="#" class="header__site_icon"><i class="fa-brands fa-vk fa-2xl"></i></a>
                            <a href="#" class="header__site_icon"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
                            <a href="#" class="header__site_icon"><i class="fa-brands fa-square-odnoklassniki fa-2xl"></i></a>
                            <a href="#" class="header__site_icon"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
                            <a href="#" class="header__site_icon"><i class="fa-brands fa-youtube fa-2xl"></i></a>
                        </div>
                        <div class="header__social_user">
                            <a href="#" class="header__info">Акции</a>
                            <a href="#" class="header__info">Контакты</a>
                            <a href="#" class="header__info">Оплата</a>
                            <a href="#" class="header__info">О компании</a>
                        </div>
                    </div>

                    
                    <div class="header__main">
                        <div class="header__logo">
                            <a href="{% url 'shop:home' %}"><img src="{% static 'img/logo.png' %}" alt="logo" class="header__logo_img"></a>
                        </div>

                        <div class="header__pay">
                            <div class="header__pay_container">
                                <div class="header__pay_icon"><i class="fa-solid fa-truck-fast fa-2xl"></i></div>
                                <div class="header__pay_text">Бесплатная доставка заказа от 800 руб</div>
                            </div>
                            <div class="header__pay_container">
                                <div class="header__pay_icon"><i class="fa-solid fa-gears fa-2xl"></i></div>
                                <div class="header__pay_text">Сотрудничество с крупными брендами</div>
                            </div>
                            <div class="header__pay_container">
                                <div class="header__pay_icon"><i class="fa-solid fa-money-bill-wave fa-2xl"></i></div>
                                <div class="header__pay_text">Особые условия покупки от 5000 руб</div>
                            </div>
                            <div class="header__pay_container">
                                <div class="header__pay_icon"><i class="fa-solid fa-money-check-dollar fa-2xl"></i></div>
                                <div class="header__pay_text">Наличный и безналичный расчет</div>
                            </div>
                        </div>

                        <div class="header__user">
                            <a href="#" class="header__user_icon"><i class="fa-regular fa-user fa-2xl"></i></a>
                            <a href="#" class="header__user_icon"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></a>
                            <a href="#" class="header__user_icon"><i class="fa-regular fa-heart fa-2xl"></i></a>
                            <a href="#" class="header__user_icon"><i class="fa-solid fa-cart-arrow-down fa-2xl"></i></a>
                        </div>
                    </div>

                    <div class="header__category">
                        {% show_categories %}
                    </div>

                </div>
            </div>
        </header>

        <div class="content">
            {% block content %}
            <div class="slider">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                    <img src="../static/slider/pc.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides fade">
                    <img src="../static/slider/vkart.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides fade">
                    <img src="../static/slider/perf.jpg" style="width:100%">
                    </div>
                
                    <a class="prev" onclick="plusSlidesM(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlidesM(1)">&#10095;</a>
                </div>
                <br>
                
            </div>
            <div class="content__container">
                <div class="content__category">
                    <div class="category__title"><a href="http://">CATEGORY</a></div>
                    <ul class="category__list">
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                    </ul>
                    <div class="category__all"><button><a href="http://">Смотреть все</a></button></div>
                </div>
                <div class="content__category">
                    <div class="category__title"><a href="http://">CATEGORY</a></div>
                    <ul class="category__list">
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                    </ul>
                    <div class="category__all"><button><a href="http://">Смотреть все</a></button></div>
                </div>
                <div class="content__category">
                    <div class="category__title"><a href="http://">CATEGORY</a></div>
                    <ul class="category__list">
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="img"><a href="http://"><img src="../static/time/1.jpg" alt=""><div class="hit">Хит продаж!</div></a></div>
                            <div class="product__text">
                                <div class="title"><a href="http://">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, delectus.</div>
                                <div class="price">700.00 руб.</div>
                                <div class="more"><button><a href="http://">Подробнее</a></button></div>
                            </div>
                        </li>
                    </ul>
                    <div class="category__all"><button><a href="http://">Смотреть все</a></button></div>
                </div>

                <div class="content__populated_category">
                    <h2>Популярные категории</h2>
                    <div class="content__populated_container">
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                        <div class="category">
                            <div class="category_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="category"></a></div>
                            <h4><a href="http://">Category</a></h4>
                        </div>
                    </div>
                </div>
                <div class="content__news">
                    <div class="content__news_link">
                        <div class="news__title">Новости</div>
                        <a href="http://">Смотреть все</a>
                    </div>
                    <div class="content__news_container">
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news_img"><a href="http://"><img src="../static/time/v2.jpeg" alt="news"></a></div>
                            <div class="content__news_text">
                                <div class="news__date">2021-10-07 10:54:52</div>
                                <div class="news__title"><a href="http://">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, nobis.</a></div>
                                <div class="news__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quis itaque atque adipisci molestias temporibus.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content%}
        </div>

        <footer>
            <div class="footer">
                <div class="footer__conteiner">

                    <div class="footer__social">
                        <div class="footer__social_text">Ищите нас в социальных сетях</div>
                        <div class="footer__social_sites">
                            <a href="#" class="footer__site_icon"><i class="fa-brands fa-vk fa-2xl"></i></a>
                            <a href="#" class="footer__site_icon"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
                            <a href="#" class="footer__site_icon"><i class="fa-brands fa-square-odnoklassniki fa-2xl"></i></a>
                            <a href="#" class="footer__site_icon"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
                            <a href="#" class="footer__site_icon"><i class="fa-brands fa-youtube fa-2xl"></i></a>
                        </div>
                    </div>
                    <div class="footer__content">
                        <div class="footer__content_about">
                            <h3>О магазине</h3>
                            <ul class="about__menu">
                                <li class="about__site"><a href="">Главная</a></li>
                                <li class="about__site"><a href="">Акции</a></li>
                                <li class="about__site"><a href="">Контакты</a></li>
                                <li class="about__site"><a href="">Оплата</a></li>
                                <li class="about__site"><a href="">О компании</a></li>
                                <li class="about__site"><a href="">Новости</a></li>
                                <li class="about__site"><a href="">Статьи</a></li>
                            </ul>
                        </div>
                        <div class="footer__content_catalog">
                            <h3>Каталог</h3>
                            <ul class="catalog__menu">
                                <li class="catalog__site"><a href="">Противоударные чехлы</a></li>
                                <li class="catalog__site"><a href="">Голографические чехлы</a></li>
                                <li class="catalog__site"><a href="">Жидкие чехлы с блестками</a></li>
                                <li class="catalog__site"><a href="">Чехлы книжки</a></li>
                                <li class="catalog__site"><a href="">Деревянные чехлы</a></li>
                                <li class="catalog__site"><a href="">Силиконовые чехлы</a></li>
                                <li class="catalog__site"><a href="">Пластиковые чехлы</a></li>
                            </ul>
                        </div>
                        <div class="footer__content_connect">
                            <h3>Свяжитесь с нами</h3>
                            <ul class="connect__menu">
                                <li><i class="fa-solid fa-map-pin fa-2xl"></i> 777777, Москва, ул. Центральная 1, офис 11</li>
                                <li><a href="mailto:compute@gmail.com"><i class="fa-regular fa-envelope fa-2xl"></i> compute@gmail.com</a></li>
                                <li><a href="tel:+79201239076"><i class="fa-solid fa-phone fa-2xl"></i> 8-920-123-90-76</a></li>
                            </ul>
                        </div>
                        <div class="footer__content_info">
                            <h3>© 2023 Кейс эксклюзив</h3>
                            <div class="confidentiality">
                                <a href="http://">Политика конфиденциальности</a> / <a href="http://">Согласие на обработку персональных данных</a>
                            </div>
                            <p>Используя данный сайт, вы автоматически принимаете условия пользовательского соглашения и соглашаетесь с политикой конфиденциальности.</p>
                            <p>Указанные на сайте цены не являются публичной офертой и могут быть изменены в любое время.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/select.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/detail.js' %}"></script>
    <script src="https://kit.fontawesome.com/18a5f50620.js" crossorigin="anonymous"></script>
</body>
</html>